.nav-text {
  text-decoration: none;
  color: #f4f9f9;
}

a:link {
  text-decoration: none;
  color: #f4f9f9;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3rem;
}
